@import "variables.scss";
@import "mixins.scss";



.header {
    width: 100%;
    height: 70px;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 41px;

    &-logo {
        position: absolute;
        z-index: +1;
        top: 40px;
        left: 170px;
    }

    &-circle-left {
        position: absolute;
        z-index: 0;
        top: 0px;
        left: 0px;
    }

    &-circle-right {
        position: absolute;
        z-index: 0;
        top: 0px;
        right: 0px;
    }

    &-list {
        list-style: none;
        display: flex;
        align-items: center;
        position: relative;
        z-index: +1;
        margin-left: 210px;

        &-item {
            &-link {
                text-decoration: none;
                @include basic-text;
                margin-right: 30px;
            }
        }
    }

    &-btn {
        position: relative;
        z-index: +1;
        @include btn;
        border: none;
        padding: 14px 64.87px 13.08px 65px;
        margin-right: 160px;

        &-link {
            text-decoration: none;
            text-transform: uppercase;
            @include btn-text;
        }
    }

    &-manager {
        display: none;
    }

    &-menu {
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    .header {
        width: 100%;


        &-circle-left {
            width: 200px;
            height: 185px;
            top: -20px;
            left: -20px;
        }

        &-logo {
            display: none;
        }

        &-circle-right {
            display: none;
        }

        &-list {
            display: none;
        }

        &-btn {
            display: none;
        }

        &-manager {
            display: block;
            width: 32px;
            height: 32px;
            position: absolute;
            top: 10px;
            left: 340px;
        }

        &-menu {
            display: block;

            &-line {
                position: absolute;
                z-index: +2;
                top: 15px;
                left: 10px;
                width: 30px;
                height: 2px;
                background-color: white;

                &:first-child {
                    top: 20px;
                }

                &:last-child {
                    top: 25px;
                }
            }
        }
    }

}