@import "variables.scss";

@mixin basic-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $basic-color;
}

@mixin btn-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $basic-color;
}

@mixin btn {
    background: linear-gradient(215.31deg, #F9F0C3 9.73%, #EFBB03 71.72%);
    border-radius: 100px;
}

@mixin title-small {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $basic-color;
}

@mixin title-big {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    color: $basic-color;
}

@mixin subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $basic-color;
}

@mixin text-number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $basic-color;
}

@mixin task-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

@mixin task-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $basic-color;

}

@mixin mobile-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $basic-color;
}

@mixin title-mob {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: $basic-color;
}

@mixin switch-mob {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: $basic-color;
}

@mixin label {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: $light-grey;
}

@mixin mob-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}