@import "variables.scss";
@import "mixins.scss";
@import "font.scss";
@import "header.scss";
@import "presentation.scss";
@import "explanation.scss";
@import "services.scss";
@import "work.scss";
@import "order.scss";
@import "benefit.scss";
@import "response.scss";
@import "news.scss";
@import "footer.scss";
@import "header-task.scss";
@import "title-task.scss";
@import "category.scss";
@import "btn-task.scss";
@import "cookies.scss";


body {
    font-family: "Roboto";
    background-image: url("../img/body-background.jpg");
    background-size: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0px auto;
}

@media screen and (min-width: 320px) and (max-width: 479px){
    body {
        background-image: none;
        background-image: url("../img/background-mobile.jpeg");
        background-size: 100%;
        width: 100%;
    }
}

